<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movieweb.webapp.model.dao.BoardMapper">
    <select id="getAllBoardData" resultType="movieweb.webapp.model.dto.Board">
        SELECT * FROM board;
    </select>
    <select id="getLast10Board" resultType="movieweb.webapp.model.dto.Board">
        SELECT * FROM board LIMIT (${index}-1)*10, 10;
    </select>
    <select id="findBoardByUserId" resultType="movieweb.webapp.model.dto.Board">
        SELECT * FROM board WHERE userID LIKE ${userId};
    </select>
    <select id="findBoardByTitle" resultType="movieweb.webapp.model.dto.Board">
        SELECT * FROM board WHERE title LIKE '%${title}%';
    </select>
    <insert id="addBoardData" parameterType="movieweb.webapp.model.dto.Board">
        INSERT INTO board(id, author, content, title)
        VALUES(#{id}, #{author}, #{content}, #{title});
    </insert>
    <update id="updateCoords" parameterType="movieweb.webapp.model.dto.Theater">
        UPDATE theater SET latitude = #{latitude}, longitude = #{longitude} WHERE code = #{code};
    </update>
</mapper>