<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movieweb.webapp.model.dao.PostMapper">
    <select id="getAllPostData" resultType="movieweb.webapp.model.dto.Post">
        SELECT * FROM post;
    </select>
    <select id="getLast10Post" resultType="movieweb.webapp.model.dto.Post">
        SELECT * FROM post LIMIT (${index}-1)*10, 10;
    </select>
    <select id="findPostByUserId" resultType="movieweb.webapp.model.dto.Post">
        SELECT * FROM post WHERE userID LIKE ${userId};
    </select>
    <select id="findPostByTitle" resultType="movieweb.webapp.model.dto.Post">
        SELECT * FROM post WHERE title LIKE '%${title}%';
    </select>
</mapper>