<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=97cb781e9a2d1897990ce79115ba1c43&libraries=services,clusterer"></script>
</head>
<body>
    <p>hello</p>
    <div>
        <form action="/detail", method="POST" >
            <input type="text" placeholder="이름">
            <button type="submit">제출하기</button>
        </form>
        <a href="/detail">watch detail</a>
    </div>
    <div>
        <!-- <p style="margin-top:-12px">
            <em class="link">
                <a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
                    혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
                </a>
            </em>
        </p> -->
        <div id="map" style="width:500px;height:400px;"></div>
        <div>
            <input id="loc-search" type="text" placeholder="주소 입력"/>
            <button id="loc-search">주소 검색</button>
        </div>
        <div>
            <button id="loc-my">현재위치 찾기</button>
        </div>
    </div>
</body>
<script src="/js/KakaoMap/setMap.js"></script>
<script src="/js/KakaoMap/setClusterer.js"></script>
<script src="/js/KakaoMap/searchLocation.js"></script>
<script src="/js/KakaoMap/myLocation.js"></script>
</html>