<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
<link href='https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css' rel='stylesheet' type='text/css'> 

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
</head>
<style>
    body {
        background-color: whitesmoke;
    }
    * {
        font-family: Helvetica, Arial, sans-serif, sans-serif,NanumSquare ;
    }
    .uk-card {
        border-radius: 20px;
    }

    #lists > div > .uk-card img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    dl dt {
        font-weight: 800;
    }
</style>
<body>
    <div style="background-color:white; height:100px">
        hello
    </div>
    <section>

    </section>
    <div uk-grid class="uk-grid-collapse">
        <div class="uk-width-medium@m uk-width-1-1 uk-padding-small" >
            <div class="uk-width-1-1 uk-card uk-card-default" uk-sticky="offset: 20; media: @m">
                <div>
                    프로필사진, 닉네임, 마이페이지 링크
                </div>
                <ul class="uk-nav-default uk-padding-small" uk-nav>
                    <li class="uk-active"><a href="#">예시</a></li>
                    <li class="uk-parent">
                        <a href="#">게시판<span uk-nav-parent-icon></span></a>
                        <ul class="uk-nav-sub">
                            <li><a href="#">리뷰 게시판..?</a></li>
                            <li><a href="#">자유 게시판???</a></li>
                        </ul>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">기능들~~</li>
                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span>실시간 박스오피스 보기</a></li>
                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>근처 영화관 찾기</a></li>
                    <!-- <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li> -->
                </ul>
            </div>
        </div>
        
        <div class="uk-width-1-1 uk-width-expand@s uk-padding-small">
            <div class="uk-width-1-1">
                <p>안녕하세요 영화 SNS입니다 감사합니다</p>
                <p></p>
            </div>
            <div id="lists" class="uk-grid-column-small uk-grid-row-small uk-child-width-1-2 uk-child-width-1-3@m uk-child-width-1-5@l uk-child-width-1-6@xl" uk-grid="masonry: true">
                <div class="">
                    <div class="uk-card uk-card-default">
                        <div>
                            <img src="img/sample-budapest.jpeg" style="width: 100%">
                        </div>
                        <div class="uk-card-body">
                            <dl class="uk-description-list">
                                <h5>그랜드 부다페스트 호텔</h5>
                                <dd>2017년 개봉</dd>
                                <dd>영상미 엄청남</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div>
                            <img src="img/sample-park.jpeg" style="width: 100%">
                        </div>
                        <div class="uk-card-body">
                            <dl class="uk-description-list">
                                <h5>헤어질 결심</h5>
                                <dd>2022년 개봉</dd>
                                <dd>칸 영화제 감독상</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div>
                            <img src="img/sample-sundown.jpeg" style="width: 100%">
                        </div>
                        <div class="uk-card-body">
                            <dl class="uk-description-list">
                                <h5>썬다운</h5>
                                <dd>2022년 개봉</dd>
                                <dd>미셸 프랑코 감독</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div>
                            <img src="img/sample-psycho.jpeg" style="width: 100%">
                        </div>
                        <div class="uk-card-body">
                            <dl class="uk-description-list">
                                <h5>아메리칸 사이코</h5>
                                <dd>2002년 개봉</dd>
                                <dd>크리스찬 베일 주연</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div>
                            <img src="img/sample-mcbeth.jpeg" style="width: 100%">
                        </div>
                        <div class="uk-card-body">
                            <dl class="uk-description-list">
                                <h5>레이디 맥베스</h5>
                                <dd>2017년 개봉</dd>
                                <dd>플로렌스 퓨 주연</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="sample-div" class="uk-card uk-card-default">
                        <div>
                            <img id="sample-img" src="img/sample-silverlake.jpeg" style="width: 100%">
                        </div>
                        <div class="uk-card-body">
                            <dl class="uk-description-list">
                                <h5 style="color: rgba(211, 220, 227)">언더 더 실버레이크</h5>
                                <dd style="color: rgba(196, 163, 101)">2019년 개봉</dd>
                                <dd style="color: rgba(196, 163, 101)">앤드류 가필드 주연</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 150px">구글광고삽입 ㅎㅎ</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div>
                            <img src="img/sample-paris.jpeg" style="width: 100%">
                        </div>
                        <div class="uk-card-body">
                            <dl class="uk-description-list">
                                <h5>미드나잇 인 파리스</h5>
                                <dd>2011년 개봉</dd>
                                <dd>우디 앨런 감독</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div>
                            <img src="img/sample-dune.jpeg" style="width: 100%">
                        </div>
                        <div class="uk-card-body">
                            <dl class="uk-description-list">
                                <h5>듄</h5>
                                <dd>2021년 개봉</dd>
                                <dd>드니 빌뇌브 감독</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div>
                            <img src="img/sample-midsommar.jpg" style="width: 100%">
                        </div>
                        <div class="uk-card-body">
                            <dl class="uk-description-list">
                                <h5>미드소마</h5>
                                <dd>2019년 개봉</dd>
                                <dd>아리 애스터 감독</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div>
                            <img src="img/sample-starisborn.jpg" style="width: 100%">
                        </div>
                        <div class="uk-card-body">
                            <dl class="uk-description-list">
                                <h5>스타 이즈 본</h5>
                                <dd>2019년 개봉</dd>
                                <dd>브래들리 쿠퍼 감독</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div>
                            <img src="img/sample-goodtime.jpg" style="width: 100%">
                        </div>
                        <div class="uk-card-body">
                            <dl class="uk-description-list">
                                <h5>굿타임</h5>
                                <dd>2018년 개봉</dd>
                                <dd>사프디 형제 감독</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 160px">Item</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 120px">Item</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 140px">Item</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 200px">Item</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 180px">Item</div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle" style="height: 140px">Item</div>
                </div>
            </div>
        </div>
        <!-- <div class="uk-width-medium@l"> -->

        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
<script>
    const colorThief = new ColorThief();
    const img = document.querySelector('#sample-img');
    const div = document.querySelector("#sample-div");

    // Make sure image is finished loading
    if (img.complete) {
        console.log(colorThief.getColor(img));
        const colors= "rgba("+ colorThief.getColor(img)[0] +","+ colorThief.getColor(img)[1] +","+ colorThief.getColor(img)[2] + ")";
        console.log(colors);
        div.style.backgroundColor = colors;
        console.log(colorThief.getPalette(img));

        // let space = document.createElement("div");
        // space.style.height = "20px";
        // space.style.backgroundColor = "whitesmoke";
        // div.appendChild(space);
        // for(let i = 0; i < 10; i++) {
        //     let newColor = document.createElement("div");
        //     let newColorCode = "rgba("+ colorThief.getPalette(img)[i][0] +","+ colorThief.getPalette(img)[i][1] +","+ colorThief.getPalette(img)[i][2] + ")";
        //     newColor.style.height = "20px";
        //     newColor.style.backgroundColor = newColorCode;
        //     div.appendChild(newColor);
        // }
    } 
    else {
        image.addEventListener('load', function() {
            console.log(colorThief.getColor(img));
        const colors= "#" + colorThief.getColor(img).toString(16)[0]+ colorThief.getColor(img).toString(16)[1] + colorThief.getColor(img).toString(16)[2];
        console.log(colors);
        div.style.backgroundColor = colors;
    });
    }
</script>
</html>