<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>회원가입</title>

    <header class="welcome-header">
        <h1 class="welcome-header__title">Welcome to WWM</h1>
        </p>
    </header>
    <style>
        .welcome-header {
            margin-top: 90px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 600;
        }
        .welcome-header__title {
            margin-bottom: 40px;
            font-size: 25px;
        }
    </style>

    <style>
        #app {
            margin: auto;
            margin-top: 30px;
            width: 20%;
            border: 3px solid black;
            padding: 10px;
        }

        table, th, td {
            border: 1px solid black;
        }
        p {
            font-size: 8px;
        }
    </style>
</head>
<body>
<div id="app">

    <!-- <form id="frm" action="/addMember" method="post"> -->
    <table>
        <tr>
            <td>아이디</td>
            <td>
                <input type="text" id = "userID" name="userID" placeholder="아이디" size="20" />
            </td>
        <tr>
            <td>이름</td>
            <td>
                <input type="text" id="userName" name="userName" placeholder="이름" size="20" />
            </td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td>
                <input type="text" id="userTel" name="userTel" placeholder="전화번호"   size="20" />
            </td>
        </tr>
        <tr>
            <td>이메일</td>
            <td>
                <input type="text" id="userEmail" name="userEmail" placeholder="이메일 주소" size="20" />
            </td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td>
                <input type="text" id="password" name="password" placeholder="비밀번호" size="20" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" id="account">회원가입</button>
            </td>
        </tr>
    </table>
    <!-- </form> -->
</div>
<script type="text/javascript">

    $(document).ready(function() {

        // 아이디 중복 검사에 대한 로직이다. `getId`에 입력받은 아이디를 JSON 형식으로 POST 요청을 통해 넘겨준다.

        // 이를 통해 서버단으로부터 전달받은 내용(`res`)가 각각 어떤 메시지를 리턴해주는가에 따른 작업을 처리한다.

        $("#idCheckBtn").click(function () {
            $.ajax({
                url: "http://localhost:8080/getId",
                type: "POST",
                data: {"id": $("#userID").val()},
                success: function (response) {
                     alert('success')
                    if (response.trim() == 'ok') {
                        $("#idcheck").html("사용 가능한 아이디입니다.");
                        $("#id").val($("#userID").val());
                    } else {
                        $("#idcheck").html("사용할 수 없는 아이디입니다.");
                        $("#userID").val("");
                        $("#userID").focus();
                    }
                },
                error: function () {
                    alert('error')
                }
            });
        });

        // 가입버튼을 클릭했을 때 처리해줄 내용
        // addMember에 POST로 요청을 보낸다. 이 때 보낼 정보는 data로 지정된 JSON 형식의 자바스크립트 객체이다.
        $("#account").click(function () {

            $.ajax({
                url: "http://localhost:8080/addMember",
                type: "POST",
                data: {
                    "id": $("#userID").val(),
                    "userName": $("#userName").val(),
                    "userEmail": $("#userEmail").val(),
                    "userTel": $("#userTel").val(),
                    "password": $("#password").val()
                },

                // 마찬가지로 리턴받은 (response)의 결과에 따라 처리해준다.
                success: function (response) {
                    if (response.trim() == 'ok') {
                        console.log(response);
                        alert("가입되었습니다!");
                        location.href="../login";
                    } else {
                        alert("가입되지 않았습니다!");
                        console.log(response);
                        $("#userID").val("");
                        $("#userName").val("");
                        $("#userEmail").val("");
                        $("#userTel").val("");
                        $("#password").val("");
                    }
                },
                error: function (error) {
                    alert('error')
                    console.log(error);
                }
            });
        });
    });

</script>
</body>
</html>





